/*
 * SPDX-FileCopyrightText: 2021 leirda <leirda@aurible.fr>
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

/* format page content */
body {
    color: white;
    font-weight: normal;
    background-color: black;
    display: flex;
    flex-direction: column;
    overflow: clip;
    height: 100%;
    margin: 0;
}

br {
    line-height: 1.1
}

a {
    color: lightgreen;
    text-decoration: none;    
}

nav,.page {
    width: 100%;
    display: flex;
}

nav {
    top: 0;
    max-height: 1.7em;
    border-style: none none solid;
    border-width: thin;
    border-color: white;
    padding: 0.3em;
    box-sizing: border-box;
}

.page {
    height: 100%;
    overflow: hidden;
}

.source {
    height: 100%;
    border-style: none solid none none;
    padding: 0 1.6em 0 0;
    min-width: max-content;
    overflow-x: hidden;
    overflow-y: auto;
    border-width: thin;
    border-color: white;
}

article {
    height: 100%;
    display: flow;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0.3em;
    box-sizing: border-box;
}

.nav-item {
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
}

.resume {
    padding: 30px;
    font-style: italic;
}

/* highlight scheme syntax */
.default {
    color: white;
}

.url {
    color: lime;
    text-decoration: underline;
}

.keyword {
    color: white;
    font-weight: bold;
}

.symbol {
    color: white;
    font-weight: bold;
}

.string {
    color: silver;
}

.comment {
    color: gray;
    font-style: italic;
}

.number {
    color: white;
}

.paren1 {
    color: darkred;
}

.paren2 {
    color: darkgreen;
}

.paren3 {
    color: sienna;
}

.paren4 {
    color: pink;
}

.paren5 {
    color: burlywood;
}
